{% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% else %}
    {% if mime == "markdown" %}
        <div class="markdown-body">
            {{ content|safe }}
        </div>

    {% else %}
        <pre><code>{{ content|escape }}</code></pre>
    {% endif %}
{% endif %}

<link rel="stylesheet"
 href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>

<script>hljs.highlightAll();</script>
