{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Viewing File: {{ path }}</h2>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% else %}
<div>
  {% if mime == "markdown" %}
    {{ content|safe }}
  {% elif mime == "code" %}
    <pre><code class="language-{{ prism_lang }}">{{ content|escape }}</code></pre>
  {% else %}
    <pre>{{ content|escape }}</pre>
  {% endif %}
</div>
{% endif %}

<link rel="stylesheet" href="{% static 'prism/prism.css' %}">
<script src="{% static 'prism/prism.js' %}"></script>
{% endblock %}
